# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
log/
*.out

# Solidity build files and dependencies
artifacts/
cache/
coverage/

typechain/
*.tsbuildinfo

# Hardhat specific
hardhat.config.ts
hardhat.config.js
test/
coverage.json

# Python dependencies
__pycache__/
*.py[cod]
venv/
.Python

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*.swo
.idea/
.vscode/
out/
dist/

# IPFS
.ipfs/